# Created by .ignore support plugin (hsz.mobi)
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
.idea
*.iml
out
gen### SBT template
target/
lib_managed/
src_managed/
project/boot/
.history
.cache
*.log
.lib/
dist/*
project/plugins/project/
.scala_dependencies
.worksheet
.ensime_cache/
.ensime
